#myCanvas {
  position: relative;
  /*background: rgb(29, 163, 29);*/
  background-image: url("../images/BillardSansTrous.png")
}
#myAnimation {
  top: 310px;
  left: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  background-color: white;

}
